.Confirm{
	width: 10rem;
	position: absolute;
	left: 20rem;
	top: 25rem;
}

fieldset {
	margin: 10rem auto;
	width: 50rem;
	padding: 5rem 5rem;
	border: 1px solid lightgrey;
	border-radius: 10%;
	box-shadow: 0 2px 5px lightgrey;
	min-height: 70rem;

	h1 {
		padding: 2rem 0;
		color: white;
		background-color: dodgerblue;
		text-align: center;
	}

	.toolbar {
		margin-top: 15px;
	}

	.form-control {
		margin-bottom: 2rem;
	}

	.search {
		display: flex;
	}

	.button {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: none;
		color: white;
		background-color: dodgerblue;
		font-weight: bold;
		margin-right: 5px;
	}

	.button:hover {
		background-color: rgba(44, 195, 108, 0.98);
	}

	.nonActive {
		.button;
		color: grey;
		background-color: rgba(214, 214, 214, 0.42);
	}

	.selected {
		background-color: dodgerblue;
		color: white;
	}
}